.home__page{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 2% 2% 1% 2%;
    >div{
        display: flex;
        width: 100%;
    }
    &__dashboard{
        cursor: default;
        width: inherit;
        height: 75px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: #ffffff;
        border-radius: 0.3rem !important;
        padding: 1rem;
        padding-left: 2.2rem;
        &__head{
            font-weight: 500;
            color: #888a8d;
            line-height: 1.2;
            $a:22; $b:15; $c: $a - $b; $d: $c + $c * 0.7;
            @media (min-width:767px) {
                font-size: calc(#{$b + px} + #{$c} * (100vw / 1920)) !important;
            }
            @media (max-width:767px) {
                font-size: calc(#{$b + px} + #{$d} * ((100vw - 320px) / 1920)) !important;
            }
        }
        &__text{
            line-height: 1.2;
            $a:15; $b:12; $c: $a - $b; $d: $c + $c * 0.7;
            @media (min-width:767px) {
                font-size: calc(#{$b + px} + #{$c} * (100vw / 1920)) !important;
            }
            @media (max-width:767px) {
                font-size: calc(#{$b + px} + #{$d} * ((100vw - 320px) / 1920)) !important;
            }
            color: #9ca3af;
        }
    }
    &__stats{
        cursor: default;
        display: flex;
        .borders:hover{
            box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
        }
        &__block3{
            height: 75px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #ffffff;
            border-radius: 0.3rem !important;
            padding: 1rem !important;
            margin-left: 20px;
            min-width: 165px;
            svg{
                width: 36px;
            }
        }
        &__block2{
            height: 75px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #ffffff;
            border-radius: 0.3rem !important;
            padding: 1rem !important;
            margin-left: 20px;
            min-width: 280px;
            svg{
                width: 36px;
            }
        }
        &__block{
            height: 75px;
            min-width: 219px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #ffffff;
            border-radius: 0.3rem !important;
            padding: 1rem !important;
            margin-left: 20px;
            svg{
                width: 36px;
            }
            &__column{
                display: flex;
                flex-direction: column;
                >div:last-child{
                    margin-left: 12px;
                    margin-top: 5px;
                    color: #212a32c9;
                    $a:14; $b:13; $c: $a - $b; $d: $c + $c * 0.7;
                    @media (min-width:767px) {
                        font-size: calc(#{$b + px} + #{$c} * (100vw / 1920)) !important;
                    }
                    @media (max-width:767px) {
                        font-size: calc(#{$b + px} + #{$d} * ((100vw - 320px) / 1920)) !important;
                    }
                }
                &__stats{
                    display: flex;
                    >div:first-child{
                        margin-left: 12px;
                        font-weight: 500;
                        color: #535658;
                        $a:17; $b:14; $c: $a - $b; $d: $c + $c * 0.7;
                        @media (min-width:767px) {
                            font-size: calc(#{$b + px} + #{$c} * (100vw / 1920)) !important;
                        }
                        @media (max-width:767px) {
                            font-size: calc(#{$b + px} + #{$d} * ((100vw - 320px) / 1920)) !important;
                        }
                    }
                    >div:last-child{
                        margin-left: 8px;
                        margin-top: 0px;
                        font-weight: 400;
                        color: #202122;
                        $a:15; $b:13; $c: $a - $b; $d: $c + $c * 0.7;
                        @media (min-width:767px) {
                            font-size: calc(#{$b + px} + #{$c} * (100vw / 1920)) !important;
                        }
                        @media (max-width:767px) {
                            font-size: calc(#{$b + px} + #{$d} * ((100vw - 320px) / 1920)) !important;
                        }
                    }
                }
            }
        }
    }
}
.per{
    margin-left: 8px;
    font-weight: 500;
    color: #212a32c9;
    $a:15; $b:13; $c: $a - $b; $d: $c + $c * 0.7;
    @media (min-width:767px) {
        font-size: calc(#{$b + px} + #{$c} * (100vw / 1920)) !important;
    }
    @media (max-width:767px) {
        font-size: calc(#{$b + px} + #{$d} * ((100vw - 320px) / 1920)) !important;
    }
}
.per_number{
    margin-left: 6px;
    margin-top: 1px;
    font-weight: 600;
    color: #5d5e61;
    font-family: "Nanum Gothic", sans-serif;
    $a:15; $b:13; $c: $a - $b; $d: $c + $c * 0.7;
    @media (min-width:767px) {
        font-size: calc(#{$b + px} + #{$c} * (100vw / 1920)) !important;
    }
    @media (max-width:767px) {
        font-size: calc(#{$b + px} + #{$d} * ((100vw - 320px) / 1920)) !important;
    }
}
.charts{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: stretch;
    padding-top: 1.3%;
    mat-card{
        padding: 1% 0% 1% 0%;
        width: 26%;
        margin: .8%;
        border-radius: 1em;
        font-family: "Nanum Gothic",sans-serif;
        .chart{
         height: 17em;
        }
        .newpresent{
            cursor: default;
            letter-spacing: .2px;
            font-size: 18px;
            text-align: center;
            font-size-adjust: .42;
            font-family: San Francisco;
        }
        .pres2{
            cursor: default;
            letter-spacing: .2px;
            font-size: 17px;
            padding: 0.2em;
            text-align: center;
            font-size-adjust: .41;
            font-family: San Francisco;
        }
    }
}