@charset "UTF-8";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
// Обнуление
* {
    padding: 0;
    margin: 0;
    border: 0;
}

*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus,
:active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

nav,
footer,
header,
aside {
    display: block;
}

html,
body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: inherit;
}

::-webkit-scrollbar {
    width: 10px;
  }
  ::-webkit-scrollbar-thumb {
    border-radius: 30px;
    background: -webkit-gradient(linear, left top, left bottom, from(#4c74e4), to(#4f6399));
    box-shadow: inset 2px 2px 2px rgba(255, 255, 255, .25), inset -2px -2px 2px rgba(0, 0, 0, .25);
  }
  ::-webkit-scrollbar-track {
    background-color: #fff;
    background: linear-gradient(to right, #37353d, #5b5a5e 1px, #565658 1px, #6b6a6e);
  }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; box-sizing: border-box; }
.ui-widget.ui-widget-content { z-index: 1001 !important;}
hr{
    color: #789;
    background: black;
    width: 100%;
    border-style: inset;
    border-width: 1px;
}
.top { -moz-border-radius: 50px; margin: 5% 0% 1% 0%; opacity: 0.7; -webkit-border-radius: 10px; background: rgb(101 135 231); text-align: center; position: fixed; bottom: 6.3%; right: 1%; cursor: pointer; color: #ffffffbf; -khtml-border-radius: 5px; z-index: 23333;}
.top_border{
    border-top-left-radius: 0.6em !important;
    border-top-right-radius: 0.6em !important;
}
.bottom_border{
    border-bottom-left-radius: 0.6em !important;
    border-bottom-right-radius: 0.6em !important;
}
.wrapper {
    height: 100vh;
    display: flex;
    flex-direction: column;
}
.cursor{
    cursor: default;
}
//Sidenav
mat-sidenav-container{
    flex: 1;
}
.mat-drawer-content{
    background: #e0e0e0;
}
.mat-drawer-inner-container {
    height: 99.99% !important;
    box-shadow: 0 1px 5px 0px rgb(0 0 0 / 20%), 0 1px 1px 0 rgb(0 0 0 / 14%), 0 1px 10px 0 rgb(0 0 0 / 12%);
}
.leftnav{
    display: flex;
    flex-direction: column;
    overflow: hidden;
    $a:230; $b:190; $c: $a - $b; $d: $c + $c * 0.7;
    @media (min-width:767px) {
        min-width: calc(#{$b + px} + #{$c} * (100vw / 1920)) !important;
    }
    @media (max-width:767px) {
        min-width: calc(#{$b + px} + #{$d} * ((100vw - 320px) / 1920)) !important;
    }
}
header {
    background: #2862ff;
    color: #fff;
    padding: 0 5px;
    width: 100%;
    nav{
        display: flex;
        height: 100%;
        align-items: center;
        $a:32; $b:20; $c: $a - $b; $d: $c + $c * 0.7;
        @media (min-width:767px) {
            padding: 0 calc(#{$b + px} + #{$c} * (100vw / 1920)) !important;
        }
        @media (max-width:767px) {
            padding: 0 calc(#{$b + px} + #{$d} * ((100vw - 320px) / 1920)) !important;
        }
        button {
            display: flex !important;
            align-items: center;
            justify-content: center;
        }
        .mat-button{
            font-weight: 400;
            letter-spacing: 0.4px;
            $a:13.2; $b:12; $c: $a - $b; $d: $c + $c * 0.7; $a2:30; $b2:26; $c2: $a2 - $b2; $d2: $c2 + $c2 * 0.7;
            @media (min-width:767px) {
                font-size: calc(#{$b + px} + #{$c} * (100vw / 1920)) !important;
                height: calc(#{$b2 + px} + #{$c2} * (100vw / 1920)) !important;
            }
            @media (max-width:767px) {
                font-size: calc(#{$b + px} + #{$d} * ((100vw - 320px) / 1920)) !important;
                height: calc(#{$b2 + px} + #{$d2} * ((100vw - 320px) / 1920)) !important;
            }
        }
    }
}

footer {
    display: flex;
    align-items: center;
    background: #fff;
    border-top: 1px solid #e5e5e5;
    border-bottom: 3px solid #2862ff;
    min-height: 48px;
    .mat-icon{
        $a:25; $b:23; $c: $a - $b; $d: $c + $c * 0.7;
        @media (min-width:767px) {
            font-size: calc(#{$b + px} + #{$c} * (100vw / 1920));
        }
        @media (max-width:767px) {
            font-size: calc(#{$b + px} + #{$d} * ((100vw - 320px) / 1920));
        }
        display: flex;
        margin-left: .9em;
        align-items: center;
        cursor: pointer;
    }
    img{
        $a:88; $b:80; $c: $a - $b; $d: $c + $c * 0.7;
        background-size: cover;
        margin-right: calc(30px + (4 + 4 * 0.7) * ((100vw - 320px) / 1280));
        @media (min-width:767px) {
            width: calc(#{$b + px} + #{$c} * (100vw / 1920));
        }
        @media (max-width:767px) {
            width: calc(#{$b + px} + #{$d} * ((100vw - 320px) / 1920));
        }
    }
}
.example-spacer {
    flex: 1 1 auto;
}
.content{
    height: 100%;
}


.selector_panel {
    padding: 0 3% !important;
    height: 45px;
    width: 100%;
    text-align: left !important;
    box-shadow: 0 3px 1px -2px rgb(0 0 0 / 20%), 0 2px 2px 0 rgb(0 0 0 / 14%), 0 -2px 5px 0 rgb(0 0 0 / 12%) !important;
    font-family: San Francisco;
    letter-spacing: 0.2px;
}
.top_border {
    border-top-left-radius: 0.6em !important;
    border-top-right-radius: 0.6em !important;
}

.mat-table-title{
    cursor: default;
    letter-spacing: .2px;
    text-align: center;
    font-family: Lora,serif;
    padding: 0;
    margin-top: 20px !important;
    margin-bottom: 14px;
    $a:19; $b:14; $c: $a - $b; $d: $c + $c * 0.7; $a2:30; $b2:26; $c2: $a2 - $b2; $d2: $c2 + $c2 * 0.7;
    @media (min-width:767px) {
        font-size: calc(#{$b + px} + #{$c} * (100vw / 1920)) !important;
    }
    @media (max-width:767px) {
        font-size: calc(#{$b + px} + #{$d} * ((100vw - 320px) / 1920)) !important;
    }
}
.table-container{
    display: flex;
    justify-content: space-evenly;
    width: 97%;  margin: 0 auto;
    cursor: default;
    mat-card{
        padding: 0;
    }
    .line{
        width: 88%;
        border-bottom: 2px solid #5b8fdd;
        margin-bottom: 8px;
    }
    .line2{
        width: 68%;
        border-bottom: 2px solid #5b8fdd;
        margin-bottom: 8px;
    }
    .first{
        display: flex;
        flex-direction: column;
        width: 19em;
        height: max-content;
        padding-bottom: 34px;
        .form{
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin: 0 auto;
            width: 100%;
            align-items: center;
            mat-form-field{
                width: 150px;
                font-size: 12.8px;
                margin-top: 0px !important;
                margin-bottom: -8px !important;
            }
            .panel_selector__down{
            display: flex;
            justify-content: center;
            padding-top: 10px;
            }
        }
    }
    .second{
        width: 80%;
        height: max-content;
        display: flex;
        flex-direction: column;
        overflow: hidden !important;
        border-top-left-radius: 0.6em !important;
        border-top-right-radius: 0.6em !important;
        border-bottom-right-radius:  0.6em !important;
        border-bottom-left-radius:  0.6em !important;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    }
}
.mat-accordion .mat-expansion-panel:last-of-type {
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
}
.mat-accordion .mat-expansion-panel:first-of-type {
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
}
.mat-paginator {
    box-shadow: rgb(60 64 67 / 30%) 0px 1px 2px 0px, rgb(60 64 67 / 15%) 0px 2px 6px 2px;
}

.togl_but{
    ::ng-deep .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar {
        background-color: #007bff;padding: 0 1%;
    }
    ::ng-deep .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb {
        background-color: #007bff;padding: 0 1%;
    }
}
.mat-toolbar.mat-primary {  background: #007bff; color: #fff;}
.ui-widget.ui-widget-content { z-index: 1001 !important;}
mat-header-row {   border-top-right-radius: 4px; border-top-left-radius: 4px; border-radius: 5em; min-height: 3em !important; position: sticky; top: 0; background: #68a5e6;z-index: 9999; font-family: San Francisco; letter-spacing: .2px;}
mat-row:nth-child(odd){background: rgba(0,0,0,0.10);flex: 0 0 75px;}
mat-row:nth-child(even){background: white;flex: 0 0 75px;}
mat-header-cell { color: rgb(0 0 0 / 95%) !important; letter-spacing: 0.3px; }
.mat-row, .mat-header-row {
    display: table-row;
}
.mat-cell, .mat-header-cell {
    word-wrap: initial;
    display: table-cell;
    padding: 0px 5px;
    line-break: unset;
    width: auto;
    white-space: nowrap;
    overflow: hidden;
    vertical-align: middle;
}

mat-paginator{
    justify-content: flex-end;
    height: 45px; display: flex;
    padding: 0 17px; align-items: center;
}
mat-header-cell {
    $a:14; $b:12; $c: $a - $b; $d: $c + $c * 0.7; $a2:30; $b2:26; $c2: $a2 - $b2; $d2: $c2 + $c2 * 0.7;
    @media (min-width:767px) {
        font-size: calc(#{$b + px} + #{$c} * (100vw / 1920)) !important;
    }
    @media (max-width:767px) {
        font-size: calc(#{$b + px} + #{$d} * ((100vw - 320px) / 1920)) !important;
    }
}
mat-cell{
    $a:13.4; $b:12; $c: $a - $b; $d: $c + $c * 0.7; $a2:30; $b2:26; $c2: $a2 - $b2; $d2: $c2 + $c2 * 0.7;
    @media (min-width:767px) {
        font-size: calc(#{$b + px} + #{$c} * (100vw / 1920)) !important;
    }
    @media (max-width:767px) {
        font-size: calc(#{$b + px} + #{$d} * ((100vw - 320px) / 1920)) !important;
    }
}

.panel_selector__down__button {
    box-shadow: 0 3px 1px -2px rgb(0 0 0 / 20%), 0 2px 2px 0 rgb(0 0 0 / 14%), 0 -2px 5px 0 rgb(0 0 0 / 12%);
    height: 32px !important;
    line-height: 10%;
    margin: 1%;
    font-family: San Francisco;
    $a:14; $b:12; $c: $a - $b; $d: $c + $c * 0.7; $a2:30; $b2:26; $c2: $a2 - $b2; $d2: $c2 + $c2 * 0.7;
    @media (min-width:767px) {
        font-size: calc(#{$b + px} + #{$c} * (100vw / 1920)) !important;
    }
    @media (max-width:767px) {
        font-size: calc(#{$b + px} + #{$d} * ((100vw - 320px) / 1920)) !important;
    }
}
.panel_selector__down {
    text-align: center;
}
.panel_selector__down{
    button:first-child{
        margin-right: 17px;
    }
}
.table-container{
    padding: 1.5% 0%;
}
mat-card{
    width: 66%;
    table{
        width: 100%;
    }
}


.selector_column{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    padding-top: 2%;
    >div{
        display: flex;
        flex-direction: column;
        justify-content: center;

        mat-form-field{
            font-size: 13.5px;
        }
    }
}
.search__svg{
    fill: #a4a4a4;
}
.navigateactive{
    //border-left: 4px solid #4343fa83;
    svg{
        fill: #4343fae3;
    }

}

.butt{
    background-color: #2862ff;
    box-shadow: 0 3px 1px -2px rgb(0 0 0 / 20%), 0 2px 2px rgb(0 0 0 / 14%), 0 -2px 5px rgb(0 0 0 / 12%);
    display: flex !important;
    align-items: center;
    color: #ffffffe8;
    font-weight: 500;
    letter-spacing: 0.4px;
    $a:13.5; $b:12; $c: $a - $b; $d: $c + $c * 0.7;
    $a2:32; $b2:28; $c2: $a2 - $b2; $d2: $c2 + $c2 * 0.7;
    @media (min-width:767px) {
        font-size: calc(#{$b + px} + #{$c} * (100vw / 1920)) !important;
        height: calc(#{$b2 + px} + #{$c2} * (100vw / 1920)) !important;
    }
    @media (max-width:767px) {
        font-size: calc(#{$b + px} + #{$d} * ((100vw - 320px) / 1920)) !important;
        height: calc(#{$b2 + px} + #{$d2} * ((100vw - 320px) / 1920)) !important;
    }
}
.butt2{
    background-color: #dd3b1e;
    box-shadow: 0 3px 1px -2px rgb(0 0 0 / 20%), 0 2px 2px rgb(0 0 0 / 14%), 0 -2px 5px rgb(0 0 0 / 12%);
    display: flex !important;
    align-items: center;
    color: #ffffffe8;
    font-weight: 500;
    letter-spacing: 0.4px;
    $a:13.5; $b:12; $c: $a - $b; $d: $c + $c * 0.7;
    $a2:32; $b2:28; $c2: $a2 - $b2; $d2: $c2 + $c2 * 0.7;
    @media (min-width:767px) {
        font-size: calc(#{$b + px} + #{$c} * (100vw / 1920)) !important;
        height: calc(#{$b2 + px} + #{$c2} * (100vw / 1920)) !important;
    }
    @media (max-width:767px) {
        font-size: calc(#{$b + px} + #{$d} * ((100vw - 320px) / 1920)) !important;
        height: calc(#{$b2 + px} + #{$d2} * ((100vw - 320px) / 1920)) !important;
    }
}